html, body {
  background: url("../imagenes/panal.jpg"); }

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 20px; }

h1 {
  font-family: "Patrick Hand", cursive;
  font-size: 40px;
  background-color: yellow;
  box-shadow: 0 0.125rem 0.3125rem 0.125rem rgba(2, 0, 0, 0.678);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px; }

h3 {
  font-family: "Patrick Hand", cursive;
  font-size: 25px;
  height: 30px;
  background-color: yellow;
  box-shadow: 0 0.125rem 0.3125rem 0.125rem rgba(2, 0, 0, 0.678);
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold; }

.nav {
  display: flex;
  justify-content: right;
  height: 60px;
  margin-top: 30px;
  font-size: 18px;
  background-color: yellow;
  font-family: "Patrick Hand", cursive; }

.btn-carrito, .contacto {
  border: none;
  background-color: yellow;
  font-size: 1rem;
  font-family: "Patrick Hand", cursive; }

.cant--carrito {
  padding: 10px;
  margin: 5px; }

#mercaderia {
  display: grid;
  grid-template-columns: repeat(4, 4fr); }

.sidebar {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-content: center;
  position: absolute;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 5px;
  background-color: yellow;
  border-radius: 10px;
  width: auto;
  visibility: hidden;
  right: 0%; }

.active {
  visibility: visible; }

.formulario {
  margin-top: 120px; }

/* productos ecommerce */
.tarjeta {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 60px;
  width: 200px;
  height: 180px;
  font-size: 20px;
  font-family: "Patrick Hand", cursive;
  box-shadow: 0.125rem 0.125rem 0.3125rem 0.125rem black; }

.img-mercaderia {
  width: 200px;
  height: 180px; }

.datos-mercaderia {
  text-align: center;
  font-weight: bold;
  color: black;
  background-color: white;
  box-shadow: 0.125rem 0.125rem 0.3125rem 0.125rem black; }

.btn-agregar {
  background-color: yellow;
  border-radius: 15px;
  border: 2px solid #070707;
  margin-bottom: 5px;
  box-shadow: 0.125rem 0.125rem 0.3125rem 0.125rem rgba(2, 0, 0, 0.678); }

/* carrito */
.caja--carrito {
  width: 180px;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 10px; }

.caja-carrito-img {
  width: 180px; }

.caja--carrito--datos {
  color: #020202;
  border: 2px solid #070707; }

.flex-container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: yellow;
  padding-top: 10px;
  margin-top: 275px;
  height: 50px; }

.divTotal {
  display: flex; }

.caja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px; }

#total--compra {
  color: #e72d2d;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Patrick Hand", cursive; }

.botonFinalizar {
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0.125rem 0.125rem 0.3125rem 0.125rem rgba(2, 0, 0, 0.678); }

@media screen and (max-width: 320px) {
  html, body {
    background-size: cover; }
  .encabezado {
    flex-direction: column;
    justify-content: left; }
  .nav {
    width: auto;
    background-size: contain; }
  .contenedor {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px; }
  footer {
    flex-direction: row;
    align-items: center;
    bottom: 0%; } }

@media screen and (max-width: 480px) {
  html, body {
    background-size: cover; }
  .encabezado {
    flex-direction: row;
    justify-content: left; }
  .nav {
    background-size: contain; }
  .contenedor {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px; }
  footer {
    flex-direction: row;
    align-items: center;
    bottom: 0%; } }

@media screen and (min-width: 768px) {
  .encabezado {
    flex-direction: column;
    justify-content: left; }
  .nav {
    background-size: contain; }
  .contenedor {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px; }
  footer {
    flex-direction: column;
    align-items: center;
    bottom: 0%; } }

@media screen and (min-width: 1024px) {
  html, body {
    background-size: cover; }
  .encabezado {
    flex-direction: row;
    justify-content: left; }
  .nav {
    background-size: contain; }
  .contenedor {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px; }
  footer {
    flex-direction: row;
    align-items: center;
    bottom: 0%; } }
