html {
  //background-color: rgba(255, 255, 0, 0.753);
  background: url("../imagenes/cuenco.jpg");
}

body {
  @extend html;
}

h1 {
  font-family: "Patrick Hand", cursive;
  font-size: 40px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 600px;
  color: black;
}

h3 {
  font-family: "Patrick Hand", cursive;
  font-size: 25px;
  height: 30px;
  background-color: rgb(255, 255, 0);
  box-shadow: 0 0.125rem 0.3125rem 0.125rem rgba(2, 0, 0, 0.678);
  margin-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  color: black;
}

.nav {
  display: flex;
  justify-content: space-around;
  height: 60px;
  margin-top: 30px;
  font-size: 20px;
  background-color: rgb(255, 255, 0);
  box-shadow: 0 0.125rem 0.3125rem 0.125rem rgba(2, 0, 0, 0.678);
  font-family: "Patrick Hand", cursive;
  font-weight: bold;
}

.btn-carrito {
  border: none;
  background-color: rgb(255, 255, 0);
  font-size: 1rem;
  font-family: "Patrick Hand", cursive;
}

.contacto {
  @extend .btn-carrito;
}

.cant--carrito {
  padding: 10px;
  margin: 5px;
}

#mercaderia {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
}

.sidebar {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-content: center;
  position: absolute;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 5px;
  background-color: rgb(255, 255, 0);
  border-radius: 10px;
  width: auto;
  visibility: hidden;
  right: 0%;
}

.active {
  visibility: visible;
}

.flex-container-footer {
  margin-top: 100px;
}

/* productos ecommerce */

.tarjeta {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 130px;
  width: 200px;
  height: 150px;
  font-size: 20px;
  font-family: "Patrick Hand", cursive;
  box-shadow: 0.125rem 0.125rem 0.3125rem 0.125rem rgb(0, 0, 0);
}

.img-mercaderia {
  width: 200px;
  height: 130px;
}

.datos-mercaderia {
  text-align: center;
  font-weight: bold;
  color: black;
  background-color: white;
  box-shadow: 0.125rem 0.125rem 0.3125rem 0.125rem rgb(0, 0, 0);
}

.btn-agregar {
  background-color: rgb(255, 255, 0);
  border-radius: 15px;
  border: 2px solid rgb(7, 7, 7);
  margin-bottom: 5px;
  box-shadow: 0.125rem 0.125rem 0.3125rem 0.125rem rgba(2, 0, 0, 0.678);
}

/* carrito */
.caja--carrito {
  width: 180px;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 10px;
}

.caja-carrito-img {
  width: 180px;
}

.caja--carrito--datos {
  color: rgb(2, 2, 2);
  border: 2px solid rgb(7, 7, 7);
}

.flex-container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(255, 255, 0);
  padding-top: 10px;
  height: 50px;
}

.divTotal {
  display: flex;
}

.caja {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

#total--compra {
  color: rgb(231, 45, 45);
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Patrick Hand", cursive;
}

.botonFinalizar {
  font-weight: bold;
  font-size: 20px;
  box-shadow: 0.125rem 0.125rem 0.3125rem 0.125rem rgba(2, 0, 0, 0.678);
}

.formulario {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
  width: 500px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-left: 20px;
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  margin-bottom: 15px;
  width: 400px;
  color: black;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#emailHelp {
  color: black !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-left: 20px;
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  margin-bottom: 15px;
}

.btn {
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-left: 60px;
  margin-bottom: 15px;
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  width: 400px;
}
