@media screen and (max-width: 320px){

    html{
        background-size: cover;
    }
  
    .encabezado{
        flex-direction: row;
        justify-content: left;
    }

    .nav {
        width: auto;
        background-size: contain;
    }

    .contenedor{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }
    
    // FOOTER 
    footer{
        flex-direction: row;
        align-items: center;
        bottom: 0%;
    }
}

@media screen and (max-width: 480px){

    html{
        background-size: cover;
    }
  
    .encabezado{
        flex-direction: row;
        justify-content: left;
    }

    .nav {
        width: auto;
        background-size: contain;
    }

    .contenedor{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }
    
    // FOOTER 
    footer{
        flex-direction: row;
        align-items: center;
        bottom: 0%;
    }
}

@media screen and (min-width: 768px){

    html{
        background-size: cover;
    }
  
    .encabezado{
        flex-direction: row;
        justify-content: left;
    }

    .nav {
        width: auto;
        background-size: contain;
    }

    .contenedor{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }
    
    // FOOTER 
    footer{
        flex-direction: row;
        align-items: center;
        bottom: 0%;
    }
}

@media screen and (min-width: 1024px){

    html{
        background-size: cover;
    }
  
    .encabezado{
        flex-direction: row;
        justify-content: left;
    }

    .nav {
        width: auto;
        background-size: contain;
    }

    .contenedor{
        flex-direction: column;
        justify-content: center;
        margin-bottom: 40px;
    }
    
    // FOOTER 
    footer{
        flex-direction: row;
        align-items: center;
        bottom: 0%;
    }
}