@media screen and (max-width: 320px){

    .encabezado{
        box-shadow: 0 2px 5px 0 rgba(212, 212, 212, 0.918);
        border: 1px solid rgba(255, 255, 255, 0.18);
        background-size: contain;
    }

    .productos{
        flex-direction: column;
        justify-content: center;
    }

    .totalcarrito{
        justify-content: left;
        flex-direction: row;
    }

    .carrito{
        display: flex;
        align-items: center;
    }

    .carritoDiv{
        display: flex;
        justify-content: left;
        flex-direction: row;
    }

    // FOOTER 
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width: 480px){
  
    .encabezado{
        flex-direction: row;
        justify-content: left;
    }

    header nav ul li{
        width: auto;
        box-shadow: 0 2px 5px 0 rgba(212, 212, 212, 0.918);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        background: rgba(130, 194, 231, 0.781);
        background-size: contain;
    }

    .productos{
        flex-direction: column;
        justify-content: center;
    }

    .carrito{
        display: flex;
        align-items: center;
    }

    .carritoDiv{
        display: flex;
        justify-content: left;
        flex-direction: row;
    }


    // FOOTER 
    footer {
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 768px){

    .encabezado{
        //backdrop-filter: blur(20px);
        //-webkit-backdrop-filter: blur(20px);
        border: 2px solid rgba(255, 255, 255, 0.18);
        border-radius: 20px;
    }

    .productos{
        flex-direction: row;
        justify-content: center;
    }

    .carrito{
        display: flex;
        align-items: center;
    }

    .carritoDiv{
        display: flex;
        justify-content: left;
        flex-direction: row;
    }
    
    // FOOTER 
    footer{
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 1024px){

    .productos{
        flex-direction: row;
        justify-content: center;
    }

  
    // FOOTER 
    .flex-container-footer{
        bottom: 0;
    }
}